/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/fonts
/vendor
/storage/
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.env
/public/mix-manifest.json
